.caixas-formulario {
    border: none;
    margin: 20px 0;
    padding: 5px;
    width: 95%;
}

hr {
    width: 98%;
    background-color: #B29A9A;
    margin-bottom: 20px;
}

.criar-conta {
    width: 250px;
    height: 60px;
    border: none;
    background-color: #B29A9A;
    margin: 20px;
    font-size: 16px;
    color: white;
}

.texto-formulario {
    font-size: 14px;
    color: #4B4453;
}


.conecte-se-com {
    padding: 2px;
    font-size: 20px;
    color: #4B4453;
    margin-left: 10px;
}

.botao {
    text-align: center;
}

.redes-sociais {
    text-align: right;
    padding: 2px;
    margin: 10px 0;
}

.login {
    color: #B29A9A;
    text-decoration: none;
}

.container,
.outro-login {
    background-color: white;
    padding: 30px;
    min-width: 320px;
    max-width: 450px;
    margin: 20px auto 0;
}

.fa-facebook,
.fa-twitter,
.fa-google {
    color: #B29A9A;
    font-size: 20px;
    padding: 8px;
}

.texto-formulario, 
.login, 
.criar-conta {
    font-weight: 600;
}